{% extends 'base.html' %}

{% block title %}
    Add a new report
{% endblock %}

{% block content %}
    <script src="{{ url_for('static', filename='api_event.js') }}"></script>

    <script>
        function changeFileName() {
            var filename = $('.custom-file-input').val().split('\\').pop();
            console.log('Selected file: ' + filename);
            $('.custom-file-label').html(filename)
        }
    </script>
    
    <script>
        $(document).ready(function() {
            $.ajaxSetup({cache: false});
            console.log("Doc ready");
            var selected_event = {{ selected_event|tojson|safe }};
            getEvents(selected_event);
        });
    </script>

    <div class="container-fluid p-0">
        <form action="{{ url_for('add_report') }}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title">Event</label>
                <select name="event" class="form-control" id="event_report"></select>
            </div>
            <div class="form-group">
                <label for="description">Comments</label>
                <textarea class="form-control" id="comment" placeholder="Add a comment" name="comment" maxlength="140" required></textarea>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
                <label for="report_image">Add a picture</label>
                <div class="input-group mb-3" id="report_image">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="report_image_upload_description" name="report_image" onchange="changeFileName()" accept="image/*">
                        <label class="custom-file-label" for="report_image_upload_description" aria-describedby="inputGroupFileAddon02">Choose file</label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}