.container-fluid-home {
  padding: 0 15%;
}

/* Navbar */

.navbar-home {
  padding: 0;
}

.nav-item-home {
  padding: 0 14px;
}

.nav-link-home {
  font-size: 1.6rem;
  font-weight: lighter;
  color: white;
}

.nav-link-home:hover {
  color: #105e62;
}

/* Search Bar */

.form-control {
  width: 80px;
  position: absolute;
  right: 170px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.form-control:focus {
  width: 450px;
}

/* Posting */

.container-fluid-post {
  padding: 3% 18%;
}

.header {
  text-align: left;
}

.event-link {
  font-size: 1.6rem;
  font-weight: lighter;
  color: black;
}

.user-link {
  text-align: right;
  font-size: 1rem;
  font-weight: lighter;
  color: black;
}
